body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(19,167,214);
  background: linear-gradient(250deg, rgba(19,167,214,0.9640056706276261) 1%, rgba(34,193,195,1) 5%, rgba(253,187,45,1) 93%, rgba(170,137,3,1) 99%);
 
  background-color: #0b232f;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-text {
  font-weight: 550;
  font-size: 30px;
}

.card {
  border-radius: 30px;
  background-color: rgba(63, 63, 63, 0.247);
}

#photos {
  position: center;
  max-height: 700px;
  height: 50%;
  width: 100%;
  padding-top: 5px;
  border-radius: 30px;
  margin: auto;
  object-fit: cover;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2rem;  
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}